project_name           = "real-time-platform"
environment            = "dev"
aws_region             = "us-east-1"
db_username            = "dbadmin"
db_password            = "changeme123"
grafana_admin_password = "changeme"
github_org             = "your-github-username"
github_repo            = "real-time-event-platform"
argocd_admin_password_bcrypt = "generate with: htpasswd -nbBC 10 '' yourpassword | tr -d ':\\n' | sed 's/$2y/$2a/'"
argocd_webhook_secret        = "yourwebhooksecret"
github_token                 = "ghp_..."